*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg-primary: #FCCA46;
  --color-bg-second: #FE7F2D;
  --color-text-primary: #233D4D;
  --color-text-second: #233D4D;
  --color-accent-1: #A1C181;
  --color-accent-2: #619B8A;
  --color-accent-3: #55ccff;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

h1 {
    text-align: center;
}

main {
    margin: auto;
}

.home-habit {
    margin: auto;
    background-color: var(--color-bg-second);
}

.home-habit-title {
    margin: auto;
}

#add-button {
  margin: auto;
  background-color: var(--color-bg-second);
  font-size: 10vw;
  border-radius: 50%;
  text-align: center;
  width: 10vw;
  height: 10vw;
}