*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg-primary: #333333;
  --color-bg-second: #444444;
  --color-text-primary: #dddddd;
  --color-text-second: #aaaaaa;
  --color-accent-1: #eeee00;
  --color-accent-2: #55ccff;
  --color-accent-3: #aa66ff;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

h1 {
    text-align: center;
}

main {
    margin: auto;
}

.home-habit {
    margin: auto;
    background-color: var(--color-accent-2);
}

.home-habit-title {
    margin: auto;
}

#add-button {
  margin: auto;
  
}